h1, h2, h3, p, form, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.btn {
  display: block;
  background-color: #ec583c;
  font-weight: bold;
  cursor: pointer;
}
body {
  background-color: #849d8f;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  color: #ffffff;
}
.container-global {
  background-image: url("../img/light.png");
  background-position: center 0;
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
}
.container-local {
  margin: 0 2.25%;
}

/*TESTER*/

/*.tester {
  position: absolute;
  background-color: rgba(255, 255, 0, 0.5);
  right: 82px;
  top: 0px;
  width: 1500px;
  height: 73px;
  z-index: 100;
}*/

/*TESTER*/

/*HEADER START*/

.top {
  background: url("../img/ice-cream.png") no-repeat 50% 84px;
  position: relative;
}
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /*background-color: black;*/
}
.main-menu-block {
  position: relative;
  margin-left: 154px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 23px;
  padding-bottom: 18px;
}
.main-logo {
  position: absolute;
  top: 10px;
  left: -7px;
}
.main {
  display: inline-block;
  vertical-align: top;
  margin-right: -4px;
}
.main-link {
  display: block;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 6.5px;
  height: 32px;
  border-radius: 15px;
}
.main .text {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  font-weight: bold;
}
.main-link:hover {
  color: #333333;
  background-color: #f7f6f3;
}
.main-link:active {
  color: #333333;
  box-shadow: inset 0 1px 1px 0.5px #686868;
}
.main-link:hover .text {
  border: none;
}

.hidden-menu {
  position: absolute;
  z-index: 10;
  padding-top: 5px;
  left: 3px;
  color: #343434;
  display: none;
}
.catalog:hover .hidden-menu {
  display: block;
}
.hidden-menu:hover {
  display: block;
}
.hidden-menu ul {
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.4);
}
.hidden-menu a {
  display: block;
  color: #343434;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 21px;

}
.hidden-menu .new {
  font-weight: bold;
}
.hidden-menu .border {
  height: 1px;
  background-color: #d1d0ce;
  margin-left: 6px;
  margin-right: 9px;
}
 .hidden-menu a:hover {
  background-color: #fbded7;
}
.hidden-menu .new:hover {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.hidden-menu li:last-of-type a:hover {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.hidden-menu a:active {
  background-color: #f6b5a5;
}
.header-info {
  padding-top: 23px;
  padding-bottom: 18px;
  position: relative;
}
.header-info li {
  display: inline-block;
  vertical-align: top;
  height: 32px;
  margin-left: 6px;
}
.header-info .minor {
  display: block;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  font-size: 14px;
  font-weight: 500;
}
.search .minor {
  width: 33px;
  background: rgba(255, 255, 255, 0.2) url("../img/magnifier.svg") no-repeat center center;
}
.search .gasket {
  position: absolute;
  left: -230px;
  padding-top: 5px;
  z-index: 10;
  display: none;
}
.search .block {
  padding: 15px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.4);

}
.search input {
  font-size: 14px;
  line-height: 24.3px;
  color: #999999;
  padding-left: 11px;
  padding-right: 11px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  width: 242px;
  height: 35px;
}
.search .minor:hover {
  background: #f8f7f4 url("../img/magnifier-black.svg") no-repeat center center;
}
.search:hover .gasket {
  display: block;
}
.enter .minor {
  width: 92px;
  padding-left: 44px;
  padding-top: 9px;
  background: rgba(255, 255, 255, 0.2) url("../img/enter.svg") no-repeat 16px center;
}
.enter .gasket {
  position: absolute;
  right: 127px;
  padding-top: 5px;
  z-index: 10;
  display: none;
}
.enter .block {
  background-color: #f8f7f4;
  padding: 20px 15px;
  border-radius: 5px;
  width: 272px;
  box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.4);
}
.enter input {
  font-size: 14px;
  line-height: 24.3px;
  color: #999999;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  height: 35px;
  width: 100%;
  margin-bottom: 10px;
}
.enter button {
  float: left;
  font-size: 15px;
  line-height: 24.3px;
  color: #fefefe;
  font-weight: bold;
  padding-left: 31px;
  padding-right: 28px;
  height: 36px;
  border: none;
  border-radius: 16px;
  margin-top: 5px;
}
.enter .block a {
  font-size: 13px;
  line-height: 24.3px;
  color: #686766;
  text-decoration: underline;
  margin-left: 15px;
}
.enter .minor:hover {
  color: #373737;
  background: #f8f7f4 url("../img/enter-black.svg") no-repeat 16px center;
}
.enter:hover .gasket {
  display: block;
}
.basket .minor {
  width: 117px;
  padding-left: 45px;
  padding-top: 9px;
  background: rgba(255, 255, 255, 0.2) url("../img/enter.svg") no-repeat 16px center;
}
.basket .minor:hover {
  color: #373737;
  background: #f8f7f4 url("../img/enter-black.svg") no-repeat 16px center;
}




.gasket:hover {
  display: block;
}

.slider {
  position: relative;
}
.time-phone {
  position: absolute;
  right: 0;
  text-align: right;
}
.time-phone span:first-of-type {
  font-size: 14px;
  font-weiht: bold;
}
.time-phone span:last-of-type {
  font-size: 22px;
  font-weight: 900;
}
.slider {
  position: relative;
}
h1 {
  font-weight: 900;
  font-size: 60px;
  line-height: 60.35px;
  text-align: center;
  padding-top: 317px;
  margin-bottom: 33px;
}
.position ul {
  position:absolute;
  top: 490px;
}
.position li {
  width: 21px;
  height: 21px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
}
.position .active {
  background-color: #ffffff;
}
.slider .btn {
  font-size: 31.48px;
  line-height: 62.93px;
  font-weight: bold;
  width: 278px;
  height: 63px;
  border-radius: 30px;
  padding-left: 39px;
  margin: 0 auto;
  margin-bottom: 41px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
}
.column {
  position: relative;
  flex-basis: 48.9%;
  border-radius: 14px;
  margin-bottom: 40px;
}
.column-1,
.column-2 {
  min-height: 230px;
  padding-top: 18px;

}
.column h2 {
  font-size: 35px;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 15px;
}
.column-1 p,
.column-2 p {
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 30px;
  margin-bottom: 10px;
}
.column-1 p:last-of-type,
.column-2 p:last-of-type {
  margin-bottom: 75px;
}
.column-1 .btn,
.column-2 .btn {
  position: absolute;
  font-size: 18px;
  border-radius: 22px;
  right: 21px;
  bottom: 23px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 13px;
  height: 46px;
}
.column-1 {
  background-image: url("../img/raspberry.png");
  background-position: center 0;
  background-size: cover;
}
.column-2 {
  background-image: url("../img/chocolate.png");
  background-position: center 0;
  background-size: cover;
}
.examples ul {
  display: flex;
  justify-content: space-between;
}
.examples li {
  position: relative;
  width: 23.354%;
  margin-bottom: 39px;
}
.examples img:not(.hit) {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}
.examples p {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
}
.examples .description {
  font-weight: 500;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.hit {
  position: absolute;
  top:0;
}
.price {
  position: absolute;
  left: 0;
  top: -55px;
  font-weight: bold;
  font-size: 28px;
}
.price .rouble {
  font-size: 42px;
}
.price .to-move {
  margin-left: -6px;
}
.main-info {
  background: #efe5d1 url("../img/wafer.png");
  border-radius: 14px;
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  padding: 20px;
  padding-top: 23px;
  margin-bottom: 40px;
}
.main-info ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-info li {
  width: 48.75%;
  padding-left: 57px;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  padding-top: 23px;
}
.main-info .first {
  background: url("../img/icon-1.svg") no-repeat;
  padding-top: 26px;
}
.main-info .second {
  background: url("../img/icon-2.svg") no-repeat;
  padding-top: 26px;
}
.main-info .third {
  background: url("../img/icon-3.svg") no-repeat;
}
.main-info .fourth {
  background: url("../img/icon-4.svg") no-repeat;
}
.main-info .icon {
  background-position: 0 10px;
}
.column-3,
.column-4 {
  min-height: 220px;
}
.column-3 {
  background: #ffffff url("../img/strawberry.png") right 0px;
  padding-top: 25px;
  padding-left: 21px;
}
.column-3 .new {
  font-size: 16px;
  color: #5a5a5a;
}
.column-3 .ways {
    width: 285px;
    margin-top: 8px;
}
.column-3 .ways a {
  background-color: rgba(255, 255, 255, 0.8);
  color: #353535;
  font-size: 24px;
  line-height: 29px;
  text-decoration: underline;
}
.column-4 {
  background: url("../img/inside.png") no-repeat 5px 5px, url("../img/border.png");
  padding-left: 28px;
  padding-top: 37px;
  padding-right: 26px;
}
.column-4 p {
  color: #5a5a5a;
  font-size: 16px;
  color: 22px;
  margin-bottom: 45px;
}
.column-4 form {
  display: flex;
}
.column-4 input {
  flex-grow: 1;
  height: 45px;
  border-radius: 4px;
  border: 1px solid #d3d3d2;
  padding: 10px;
}
.column-4 button {
  width: 130px;
  height: 45px;
  border-radius: 22px;
  border: none;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin-left: 11px;
}
.map-block {
  position: relative;
  min-height: 430px;
  /*background: url("../img/map-rdy.png") no-repeat center 0;*/
  cursor: pointer;
}
aside {
  cursor: auto;
  position: absolute;
  top: 65px;
  right: 27px;
  width: 305px;
  min-height: 305px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../img/adress.png");
  border-radius: 15px;

}
aside b {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #343434;
  font-weight: normal;
  max-width: 175px;
}
aside strong {
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: #343434;
  max-width: 225px;
}
aside .street {
  margin-bottom: 18px;
}
aside .call {
  margin-bottom: 6px;
}
aside .btn {
  margin-top: 25px;
  height: 45px;
  font-size: 17px;
  line-height: 24.3px;
  border-radius: 22px;
  text-align: center;
  padding-top: 10px;
}
footer {
  display: flex;
  justify-content: space-between;
  min-height: 103px;
  background-color: #849d8f;
}
footer .social-contacts {
  padding-top: 35px;
  padding-bottom: 29px;
  padding-left: 28px;
}
footer .icon {
  display: inline-block;
  vertical-align: top;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 4px solid #c2cec7;
  margin-right: 11px;
}
footer .tw {
  background: url("../img/tw.svg") no-repeat 50% 50%;
}
footer .ins {
  background: url("../img/ins.svg") no-repeat 50% 50%;
}
footer .fb {
  background: url("../img/fb.svg") no-repeat 50% 50%;
}
footer .vk {
  background: url("../img/vk.svg") no-repeat 50% 50%;
}

footer .footer-info {
  padding-top: 25px;
  font-size: 13px;
}
.footer-info ul {
  width: 330px;
  display: table;
}
.footer-info .row {
  display: table-row;
}
.footer-info li {
  padding-left: 22px;
  display: table-cell;
  padding-top: 10px;
}
.footer-info li:nth-of-type(2n) {
  padding-left: 32px;
}
.footer-info .row a {
  font-weight: normal;
  border-bottom: 1px solid #abbcb3;
}
.footer-info .heart {
  background: url("../img/heart.svg") no-repeat 0 10px;
}
.footer-info .row .heart a {
  font-weight: bold;
}

footer .made {
  background: url("../img/footer-logo.svg") no-repeat 0 20px;
  padding-right: 27px;
  font-size: 12px;
  font-weight: normal;
  color: #fefefe;
  padding-top: 63px;
}
.made a {
  border-bottom: 1px solid #b5c4bc;
}

/*LINKS*/
.link:hover {
  color: #ffbc9e;
}
.enter .link-white:hover,
.ways .link-white:hover {
  color: #ec593c;
}
/*LINKS*/
