h1, h2, h3, p, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-weight: normal;

}
a {
  text-decoration: none;
  color: #ffffff;
}
.btn {
  display: block;
  background-color: #ec583c;
  font-weight: bold;
}
body {
  background-color: #849d8f;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
}
.container-global {
  background-image: url("../img/light.png");
  background-position: center 0;
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
}
.container-local {
  margin: 0 2.25%;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
header {
  background-image: url("../img/ice-cream.png");
  background-repeat: no-repeat;
  background-position: 50% 84px;
}
.main-menu {
  position: relative;
  padding-left: 178px;
  min-height: 73px;
  float: left;
  min-width: 560px;
  max-width: 600px;
}
.main-logo {
  position: absolute;
  top: 10px;
  left: -21px;
}
.main-menu li {
  display: inline-block;
  vertical-align: top;
  padding-top: 30px;
  padding-right: 24px;
}
.main-menu li a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  font-weight: 500;
}
.header-info {
  float: right;
}
.header-info li {
  display: inline-block;
  vertical-align: top;
  height: 32px;
  margin-left: 10px;
  margin-top: 23px;
}
.header-info li a {
  display: block;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  font-size: 14px;

}
.search {
  width: 33px;
  background: rgba(255, 255, 255, 0.2) url("../img/magnifier.svg") no-repeat center center;
}
.enter {
  width: 92px;
  padding-left: 44px;
  padding-top: 9px;
  background: rgba(255, 255, 255, 0.2) url("../img/enter.svg") no-repeat 16px center;
}
.basket {
  width: 117px;
  padding-left: 45px;
  padding-top: 9px;
  background: rgba(255, 255, 255, 0.2) url("../img/enter.svg") no-repeat 16px center;
}
.slider {
  position: relative;
}
.time-phone {
  position: absolute;
  right: 0;
  text-align: right;
}
.time-phone span:first-of-type {
  font-size: 14px;
  font-weiht: bold;
}
.time-phone span:last-of-type {
  font-size: 22px;
}
.slider {
  position: relative;
}
h1 {
  font-weight: 900;
  font-size: 60px;
  line-height: 60.35px;
  text-align: center;
  padding-top: 317px;
  margin-bottom: 33px;
}
.position ul {
  position:absolute;
  top: 490px;
}
.position li {
  width: 21px;
  height: 21px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
}
.position .active {
  background-color: #ffffff;
}
.slider .btn {
  font-size: 31.48px;
  line-height: 62.93px;
  width: 278px;
  height: 63px;
  border-radius: 30px;
  padding-left: 39px;
  margin: 0 auto;
  margin-bottom: 41px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
}
.column {
  position: relative;
  flex-basis: 48.9%;
  border-radius: 14px;
  margin-bottom: 40px;
}
.column-1,
.column-2 {
  min-height: 230px;
  padding-top: 18px;

}
.column h2 {
  font-size: 35px;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 15px;
}
.column-1 p,
.column-2 p {
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 30px;
  margin-bottom: 10px;
}
.column-1 p:last-of-type,
.column-2 p:last-of-type {
  margin-bottom: 75px;
}
.column-1 .btn,
.column-2 .btn {
  position: absolute;
  font-size: 18px;
  border-radius: 22px;
  right: 21px;
  bottom: 23px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 13px;
  height: 46px;
}
.column-1 {
  background-image: url("../img/raspberry.png");
  background-size: cover;
}
.column-2 {
  background-image: url("../img/chocolate.png");
  background-size: cover;
}
.examples ul {
  display: flex;
  justify-content: space-between;
}
.examples li {
  position: relative;
  width: 23.354%;
  margin-bottom: 39px;
}
.examples img:not(.hit) {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}
.examples p {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
}
.examples .description {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.hit {
  position: absolute;
  top:0;
}
.price {
  position: absolute;
  left: 0;
  top: -55px;
  font-weight: bold;
  font-size: 28px;
}
.price .rouble {
  font-size: 42px;
}
.price .to-move {
  margin-left: -6px;
}
.main-info {
  background: #efe5d1 url("../img/wafer.png");
  border-radius: 14px;
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  padding: 20px;
  padding-top: 23px;
  margin-bottom: 40px;
}
.main-info ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-info li {
  width: 48.75%;
  padding-left: 57px;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  padding-top: 23px;
}
.main-info .first {
  background: url("../img/icon-1.svg") no-repeat;
  padding-top: 26px;
}
.main-info .second {
  background: url("../img/icon-2.svg") no-repeat;
  padding-top: 26px;
}
.main-info .third {
  background: url("../img/icon-3.svg") no-repeat;
}
.main-info .fourth {
  background: url("../img/icon-4.svg") no-repeat;
}
.main-info .icon {
  background-position: 0 10px;
}
.column-3,
.column-4 {
  min-height: 220px;
}
.column-3 {
  background: #ffffff url("../img/strawberry.png") right 0px;
  padding-top: 25px;
  padding-left: 21px;
}
.column-3 .new {
  font-size: 16px;
  color: #5a5a5a;
}
.column-3 .ways {
    width: 285px;
    margin-top: 8px;
}
.column-3 .ways a {
  background-color: rgba(255, 255, 255, 0.8);
  color: #353535;
  font-size: 24px;
  line-height: 29px;
  text-decoration: underline;
}
.column-4 {
  background: url("../img/inside.png") no-repeat 5px 5px, url("../img/border.png");
  padding-left: 28px;
  padding-top: 37px;
  padding-right: 26px;
}
.column-4 p {
  color: #5a5a5a;
  font-size: 16px;
  color: 22px;
  margin-bottom: 45px;
}
.column-4 form {
  display: flex;
}
.column-4 input {
  flex-grow: 1;
  height: 45px;
  border-radius: 4px;
  border: 1px solid #d3d3d2;
  padding: 10px;
}
.column-4 button {
  width: 130px;
  height: 45px;
  border-radius: 22px;
  border: none;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  margin-left: 11px;
}
.map {
  position: relative;
  min-height: 430px;
  background-color: gray;
}
aside {
  position: absolute;
  top: 65px;
  right: 27px;
  width: 305px;
  min-height: 305px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../img/adress.png");
  border-radius: 15px;

}
aside b {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #343434;
  font-weight: normal;
  max-width: 175px;
}
aside strong {
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: #343434;
  max-width: 225px;
}
aside .street {
  margin-bottom: 18px;
}
aside .call {
  margin-bottom: 6px;
}
aside .btn {
  margin-top: 25px;
  height: 45px;
  font-size: 17px;
  line-height: 24.3px;
  border-radius: 22px;
  text-align: center;
  padding-top: 10px;
}
footer {
  min-height: 103px;
  background-color: black;
}



/*.tester {
  position: absolute;
  background-color: rgba(255, 255, 0, 0.5);
  left: 0px;
  top: 0px;
  width: 1200px;
  height: 2254px;
}*/
